
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

 body{
    font-family: 'Poppins',sans-serif;
    color: #0f0d0d00;
 }

.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: #000000;
    transition: 0.5s ease-out;
}
.hover-link:hover{
    text-decoration: underline crimson;
}
.primary-button{
    background-color: #B00000;
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px #1117168e;
    transition: 0.5s ease-out;
    

}
p{
    color: rgb(125, 118, 118);
}

.primary-button:hover{
    background-color: #eaecf0;
}
.btn-text{
    color: white;
}
.secondary-button{
    border: 0.5px solid #100f0fb1;
    border-radius: 6px;
    font-weight: 700;
    color: #0cad9b8e !important;
    padding: 12px 24px;
    transition: 0.5s ease-out;

}
.secondary-button:hover{
    border-color:#B00000;
    color: #135c508e!important;
}
.btn-text-l{
    color: #000000;
}
.header-section{
    display: flex;
   
    padding: 30px 30px 30px 30px;
    justify-content: space-between;
   
}
.left-header{
    justify-content: space-between;
    gap: 60px;
   padding-bottom: 10px;
}
.left-header-text  {
padding-top: 5px;

text-decoration: none;
}
.left-sub-header a{
    text-decoration: none;
}
.middle-header ul, li{
    display: flex;
    text-decoration: none;
    gap: 30px;
    text-decoration: none;
    font-family: inter;
    font-weight: bold
    

}
.middle-header ul, li a{
    text-decoration: none;
}
.right-header{
    margin-right: 60px;
}
.right-header ul, li{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}
/*Header section End*/
ul.sub-header-item li {
    margin-right: 60px; /
}
h2{
    font-family: poppins;
    font-size: 64px;
    color: #000000;
}
h1{
    font-family:Inter, sans-serif;
    color: #000000;
    font-size:  48px;
}
.banner{
   justify-content: space-between;
}
.left-side{
    margin-right: 15px;
    
}

.one{
    position: absolute;
    margin-left: -30px;
    margin-top: 35px;
    padding-bottom: -500px;
    width: 40px;
    height: 40px;
}

.two{
    position: absolute;
    margin-left: -525px;
   margin-top: 300px;
    width: 40px;
    height: 40px;
}

.three{
    position: absolute;
    margin-left: -55px;
    margin-top: 390px;
    width: 72px;
    height: 72px;
}
.ul-class{
  justify-content: space-between;
  gap: 30px;
  margin-bottom: -40px;
}
.btn-class{
    margin-top: 50px;
}
.box{
    height: 224px;
    width: 573px;
}

.company-logo{
    margin-top: -120px;
    
}
.company-add{
    justify-content: space-between;
}
.f1-3{
    justify-content: space-between;
    gap: 50px;
}
.f2-3{
    justify-content: space-between;
    gap: 50px;
}
.box-2{
    width: 252px;
    height: 72px;
}
h3{
    color: #000000;
    font-size: 20px;
}
.services-logo{
    margin: 30px;
    justify-content: space-between;
    align-items: center;
}
.service-desc {
    text-align: center;
}

.service-desc img,
.service-desc h3,
.service-desc p {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.service-desc h3{
    margin-top: 15px;
}

.s-head{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; 
    margin-top: 200px;
}
.s-p{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 100% */
}
label {
    width:250px;
    height:100px;
    position: relative;
    display: block;
    background: #B00000;;
    border-radius: 73px;
  
    cursor: pointer;
  }
  label:after {
    content: "";
    width:90px;
    height: 90px;
    position: absolute;
    top: 5px;
    left:5px;
    background: linear-gradient(180deg,#B00000,#fff);
    border-radius: 90px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #B00000;;
  }
  input:checked + label:after {
    left:245px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#B00000);
  }
  label, label:after {
    transition: 0.3s
  }
  label:active:after{ 
    width: 130px; 
  }
.switch{
   margin-left: 490px;
   width: 50%;
   
}
.p2-position{
    margin-left: 258px;
    margin-top: 35px;
}